@charset "UTF-8";

.hero.is-success .navbar-dropdown .navbar-item {
    color: #4a4a4a
}

#site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#side-menu {
    position: sticky;
    top: 213px;
}